<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Data</title>
    <%- include('./navbar.ejs'); %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div
          class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4"
        ></div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
          <form>
            <div class="col-auto">
              <!--<fieldset disabled>-->
              <label for="">Path_ID </label>
              <input id="path_id" type="number" name="path_id" value="<%= response.path_id %>" />
            <!--</fieldset>-->
              <br />
              <label for="">Path_File</label>
              <input id="path_file" type="text" name="path_file" value="<%= response.path_file %>" />
              <br /><br />
              <label for="">Reach</label>
              <input id="reach" type="number" name="reach" value="<%= response.reach %>" />
              <br /><br />
              <label for="">Likes</label>
              <input id="likes" type="number" name="likes" value="<%= response.likes %>" />
              <br /><br />
              <label for="">Share</label>
              <input id="share" type="number" name="share" value="<%= response.share %>" />
              <br /><br />
              <label for="">Comment</label>
              <input id="comment" type="number"name="comment" value="<%= response.comment %>"
              /><br /><br />
              <label for="">Engagement</label>
              <input id="engagement" name="engagement" value="<%= response.engagement %>"
              /><br /><br />
              <label for="">Viral</label>
              <input id="viral" type="text" name="viral" value="<%= response.viral %>" /><br /><br />
            </div>
            <form action="/update/<%= response.path_id %>" method="get">
              <button class="btn btn-warning"" type="submit">
                Confirm Edit
              </button>
            </form>
            <br />
            <form action="/show_table" method="get">
              <button class="btn btn-danger" type="submit">Cancel</button>
            </form>
          </form>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
    </div>
  </body>
</html>
