<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Table</title>
    <%- include('./navbar.ejs'); %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div
          class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2"
        ></div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
          <table class="table">
            <thead>
              <tr>
                <!--Head Table -->
                <th class="text-center" scope="col">Path_ID</th>
                <th class="text-center" scope="col">Path_File</th>
                <th class="text-center" scope="col">Reach</th>
                <th class="text-center" scope="col">Likes</th>
                <th class="text-center" scope="col">Share</th>
                <th class="text-center" scope="col">Comment</th>
                <th class="text-center" scope="col">Engagement</th>
                <th class="text-center" scope="col">Viral</th>
                <th class="text-center" scope="col">Edit</th>
                <th class="text-center" scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <!--loop form response and set value-->
              <% for(let i of response) { %>
              <tr>
                <td class="text-center"><%= i.path_id %></td>
                <td class="text-center"><%= i.path_file %></td>
                <td class="text-center"><%= i.reach %></td>
                <td class="text-center"><%= i.likes %></td>
                <td class="text-center"><%= i.share %></td>
                <td class="text-center"><%= i.comment %></td>
                <td class="text-center"><%= i.engagement %></td>
                <td class="text-center"><%= i.viral %></td>
                <td>
                  <div class="text-center">
                    <!--Edit Form-->
                    <form action="/show_update/<%= i.path_id %>" method="get">
                      <button class="btn btn-success" type="submit">
                        Edit
                      </button>
                    </form>
                  </div>
                </td>
                <td>
                  <!--Delete Form-->
                  <form action="/delete/<%= i.path_id %>" method="get">
                    <div class="text-center">
                      <button class="btn btn-danger" type="submit">
                        Delete
                      </button>
                    </div>
                  </form>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
          <form action="" method="">
            <div class="text-center">
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
